@font-face {
  font-family: 'ArialBold';
  src: url('../font/ArialBold/ArialBold.eot');
  src: url('../font/ArialBold/ArialBold.eot?#iefix') format('embedded-opentype'),
       url('../font/ArialBold/ArialBold.woff2') format('woff2'),
       url('../font/ArialBold/ArialBold.woff') format('woff'),
       url('../font/ArialBold/ArialBold.ttf')  format('truetype'),
       url('../font/ArialBold/ArialBold.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialItalic';
  src: url('../font/ArialItalic/ArialItalic.eot');
  src: url('../font/ArialItalic/ArialItalic.eot?#iefix') format('embedded-opentype'),
       url('../font/ArialItalic/ArialItalic.woff2') format('woff2'),
       url('../font/ArialItalic/ArialItalic.woff') format('woff'),
       url('../font/ArialItalic/ArialItalic.ttf')  format('truetype'),
       url('../font/ArialItalic/ArialItalic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialRegular';
  src: url('../font/ArialRegular/ArialRegular.eot');
  src: url('../font/ArialRegular/ArialRegular.eot?#iefix') format('embedded-opentype'),
       url('../font/ArialRegular/ArialRegular.woff2') format('woff2'),
       url('../font/ArialRegular/ArialRegular.woff') format('woff'),
       url('../font/ArialRegular/ArialRegular.ttf')  format('truetype'),
       url('../font/ArialRegular/ArialRegular.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueGothic';
  src: url('../font/LeagueGothic/LeagueGothic.eot');
  src: url('../font/LeagueGothic/LeagueGothic.eot?#iefix') format('embedded-opentype'),
       url('../font/LeagueGothic/LeagueGothic.woff2') format('woff2'),
       url('../font/LeagueGothic/LeagueGothic.woff') format('woff'),
       url('../font/LeagueGothic/LeagueGothic.ttf')  format('truetype'),
       url('../font/LeagueGothic/LeagueGothic.svg#svgFontName') format('svg');
  font-weight: normal; 
  font-style: normal; 
}
