/*Reset.css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
* {
 box-sizing: border-box;
}
/*Reset.css*/
/*
  #11749e
  #808080
  #222222
  #f5f5f5
  #2e85aa
  #f1fbff
  #f3f3f3
  #f2f2f2
  #2a2a2a
*/
.wrapper {
  width: 77%;
  margin: 0 auto;
}
/*Шапка с навигацией*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}
.header .logo {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header .main-menu {
  display: flex;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  color: #868686;
  text-shadow: 1px 1px 1px silver,
               -1px 1px 1px silver; /*Эффект теснения*/
}
.header .main-menu li {
  margin-right: 45px;
}
.header .main-menu li:last-child {
  margin-right: 0;
}
.header .social-in-header a {
  margin-right: 30px;
}
.header .social-in-header a:last-child {
  margin-right: 30px;
}




/*Гамбургер*/
.ham {
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#F5F5F5;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
/*Гамбургеру конец*/
/*Шапка с навигацией закончилась*/
/*Блок о нас*/
.about_agency {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.about_agency .group16 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../img/layer-96.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: cover;
  background-size: cover;
}
.about_agency>.group16>h2 {
  display: flex;
  justify-content: center;
  -ms-align-self: center;
  align-self: center;
  /*width: 820px;*/
  height: 111px;
  color: #f5f5f5;
  font-size: 153px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.92px;
}
.about_agency .group16 p {
  display: flex;
  justify-content: center;
  /*width: 810px;
  height: 19px;*/
  margin-top: 60px;
  color: #11749e;
  font-family: Gotham;
  font-size: 25px;
  font-weight: 500;
  line-height: 51.19px;
  text-transform: uppercase;
  letter-spacing: 7.88px;
}
.about_agency .group16 span {
  margin-top: 100px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
.about_agency .rectangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #11749e;
  width: 100%;
  color: #fff;
  position: relative;
}
.about_agency .rectangle>.litera {
  opacity: 0.18;
  font-family: "Roboto";
  font-size: 247px;
  font-weight: 400;
  line-height: 210.64px;
  text-transform: uppercase;
  margin-top: 100px;
}
.about_agency .rectangle h3 {
font-size: 38px;
font-weight: 400;
line-height: 45.06px;
text-transform: uppercase;
position: absolute;
top: 190px;
}

.about_agency .rectangle .rectangle-container {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  width: 75%;
}
.about_agency .rectangle .rectangle-container .cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 130px;
  margin-right: 45px;
}
.about_agency .rectangle .rectangle-container .cell:last-child {
  margin-right: 0;
}
.span-margin {
  margin: 20px 0;
}
/*Блок о нас закончился*/
/*Блок 4 квадрата*/
.news_area {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0;
  width: 100%;
}
.news_area .block_news {
  display: flex;
  flex-direction: column;
  padding-bottom: 110px;
}
.news_area .block_news .date_news {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  margin-top: 80px;
  margin-bottom: 15px;
}
.news_area .block_news .date_news .line {
  width: 2px;
  height: 13px;
  background-color: #808080;
  margin-right: 14px;
  margin-left: 13px;
}
#h4marg {
  font-size: 25px;
  margin-bottom: 40px;
}
#p_marg {
  margin-bottom: 30px;
}
.b1 {
  padding-left: 25%;
  padding-right: 12%;
  background-color: #222;
  color: #fff;
}
.b2 {
  padding-right: 25%;
  padding-left: 12%;
  background-color: #f3f3f3;
  color: #000;
}

.news_area .block_image {
  display: flex;
  width: 100%;
}
.i1 {
  background: url("../img/layer-88.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.i2 {
  background: url("../img/layer-90.png");
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
/*Блок 4 квадрата закончился*/


.aa2 {
  background-color: #fff;
  color: #000;
}
.about_agency .aa2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  color: #000;
  position: relative;
}
.about_agency .aa2>.litera {
  opacity: 0.18;
  font-family: "Roboto";
  font-size: 247px;
  font-weight: 400;
  line-height: 210.64px;
  text-transform: uppercase;
  margin-top: 100px;
}
.about_agency .aa2 h3 {
  font-size: 38px;
  font-weight: 400;
  line-height: 45.06px;
  text-transform: uppercase;
  position: absolute;
  top: 190px;
}
.about_agency .aa2 .rectangle-container {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  width: 75%;
}
.about_agency .aa2 .rectangle-container .cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 130px;
  margin-right: 45px;
}
.about_agency .aa2 .rectangle-container .cell:last-child {
  margin-right: 0;
}

#slogan {
  margin-top: 40px;
  font-size: 30px;
}
.c2>img {
  width: 200px;
  height: 200px;
  margin-right: 0;
}
.about_agency .aa2 .rectangle-container .cell .span-margin {
  color: #217da4;
}

.quick_action-area {
  background-color: #217da4;
  color: #fff;
}
.quick_action-area .container {
  width: 77%;
  margin: 0 auto;
  display: flex;
  /*grid-template-columns: auto auto;*/
  justify-content: space-around;
  align-content: center;
}
.quick_action-area .container .cell {
  display: flex;
  flex-direction: row;
  /*width: 50%;*/
  margin-top: 110px;
  margin-bottom: 150px;
}
.quick_action-area .container .cell:first-child {
  margin-right: 65px;
}
.quick_action-area .container .cell img {
  margin-right: 30px;
}

/*Блок с айфоном*/
.key_feature {
  background: url('../img/layer-87.png') no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  color: #fff;
}
.key_feature .container {
  display: flex;
  justify-content: space-around;
  width: 77%;
  margin: 0 auto;
}
.key_feature .container .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.key_feature .container .column h4 {
  font-size: 25px;
}
.key_feature .container .column p {
  margin-top: 40px;
  margin-bottom: 60px;
}
.blue_line {
  height: 40px;
  background-color: #11749e;
  margin-bottom: 25px;
  line-height: 40px;
  padding-left: 15px;
}
.l1 {width: 52%;}
.l2 {width: 57%;}
.l3 {width: 61%;}
.key_feature .container img {
  margin-top: 100px;
  margin-bottom: 100px;
}

.c3 img{
  position: relative;
  width: 200px;
}
.c3 .white_block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #fff;
  color: #11749e;
  position: absolute;
  width: 156px;
  height: 65px;
  bottom: 97px;
}
.c3 .white_block .fio {
  font-size: 20px;
}
.c3 .white_block p {
  font-size: 15;
  color: #000;
}

.contact_area {
  background: url('../img/layer-97.png');
  width: 100%;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  color: #fff;
  position: relative;
}
.contact_area .litera {
  opacity: 0.18;
  font-family: "Roboto";
  font-size: 247px;
  font-weight: 400;
  line-height: 210.64px;
  text-transform: uppercase;
  margin-top: 100px;
}
.contact_area h3 {
  font-size: 38px;
  font-weight: 400;
  line-height: 45.06px;
  text-transform: uppercase;
  position: absolute;
  top: 190px;
}

.form_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  width: 75%;
  margin: 0 auto;
}
.form_area .input_area{
  display: flex;
  justify-content: space-between;
  /*grid-template-columns: auto auto auto;*/
  /*grid-gap: 20px;*/
  margin-top: 100px;
  width: 100%;
}
.form_area .input_area input {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  width: 30%;
  height: 45px;
  margin-bottom: 35px;
  padding-left: 10px;
}
.form_area textarea {
  width: 100%;
  height: 125px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-left: 20px;
  margin-bottom: 45px;
}
#button {
  margin: 0 auto;
  width: 227px;
  height: 66px;
  background-color: #11749e;
  color: #fff;
  border: none;
  font-size: 24px;
  margin-bottom: 100px;
  cursor: pointer;
}


.map {
  height: 357px;
  background: url('../img/layer-98.png') no-repeat;
  background-position: center center;
  background-size: cover;
}
.footer {
  background-color: #222222;
  color: #fff;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  height: 136px;
}
/* and (min-width: 400px)*/
@media screen and (max-width: 1090px) {
 .header {
  justify-content: space-around;
 }
  .ham {
   display: flex;
   z-index: 99;
  }
  .navigation {
   display: none;
  }
  /*.navigation {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   -ms-flex-direction: column;
   -o-flex-direction: column;
   flex-direction: column;
   position: fixed;
   top: 0;
   right: 10%;
   width: 10%;
   height: 100vh;
   border-left: 1px solid rgba(255, 255, 255, 0.38);

  }
  .header .main-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 130px;
  padding-left: 10px;
  font-size: 15px;
  }
  .header .main-menu li {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .header .main-menu li:last-child {
    margin-bottom: 0;
  }*/

  .about_agency>.group16>h2 {
   font-size: 100px;
  }
  .key_feature .container {
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   -ms-flex-direction: column;
   -o-flex-direction: column;
   flex-direction: column;
   justify-content: center;
   -ms-align-items: center;
   align-items: center;
   align-content: center;
   padding-top: 100px;
  }
  .rectangle-container
   {
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   -ms-flex-direction: column;
   -o-flex-direction: column;
   flex-direction: column;
  }
  .quick_action-area .container {
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   -ms-flex-direction: column;
   -o-flex-direction: column;
   flex-direction: column;
  }
  .form_area .input_area{
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   -ms-flex-direction: column;
   -o-flex-direction: column;
   flex-direction: column;
  }
  .form_area .input_area>input {
   width: 100%;
  }
  .quick_action-area .container .cell img {
    display: none;
   }
   .key_feature .container .column h4 {
  font-size: 15px;
}
.key_feature .container .column {
 width: 100%;
}
.blue_line {
 font-size: 10px;
}

}

@media screen and (max-width: 400px) {
 .header {
   justify-content: space-between;
 }
 .about_agency>.group16>h2 {
  font-size: 40px;
 }

}
