@font-face {
  font-family: 'ArialBold';
  src: url('../font/ArialBold/ArialBold.eot');
  src: url('../font/ArialBold/ArialBold.eot?#iefix') format('embedded-opentype'),
       url('../font/ArialBold/ArialBold.woff2') format('woff2'),
       url('../font/ArialBold/ArialBold.woff') format('woff'),
       url('../font/ArialBold/ArialBold.ttf')  format('truetype'),
       url('../font/ArialBold/ArialBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArialRegular';
  src: url('../font/ArialRegular/ArialRegular.eot');
  src: url('../font/ArialRegular/ArialRegular.eot?#iefix') format('embedded-opentype'),
       url('../font/ArialRegular/ArialRegular.woff2') format('woff2'),
       url('../font/ArialRegular/ArialRegular.woff') format('woff'),
       url('../font/ArialRegular/ArialRegular.ttf')  format('truetype'),
       url('../font/ArialRegular/ArialRegular.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../font/Helvetica-Bold/Helvetica-Bold.eot');
  src: url('../font/Helvetica-Bold/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/Helvetica-Bold/Helvetica-Bold.woff2') format('woff2'),
       url('../font/Helvetica-Bold/Helvetica-Bold.woff') format('woff'),
       url('../font/Helvetica-Bold/Helvetica-Bold.ttf')  format('truetype'),
       url('../font/Helvetica-Bold/Helvetica-Bold.svg#svgFontName') format('svg');
  font-weight: normal; 
  font-style: normal; 
}