/*******************************************/
/*                 CONTENT                 */
/* 1. Color                                */
/* 2. Mixin                                */
/* 2.1. .elips                             */
/* 2.2. .str                               */
/* 2.3. .centr                             */
/* 3. Begin                                */
/* 3.1. wrapper                            */
/* 3.1.1. button (:before, :hover, :after) */
/* 3.1.2. pagination                       */
/* 3.1.2.1 paginator                       */
/* 3.1.2.1.1 .elipse > .simvol ^ .active   */
/* 3.1.2.2. <p> `Selected city`            */
/* 3.2. @keyframes                         */
/*                                         */
/*                 The End                 */
/*            Thanks for watching          */
/*                                         */
/*******************************************/
/*Color*/
/*mixin*/
.elips {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid #000000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 2px 0px 0px rgba(31, 63, 63, 0.5);
  cursor: pointer;
}
.str {
  font-family: "Helvetica-Bold", Helvetica;
  font-size: 1.8rem;
  text-decoration: none;
  text-shadow: 0px 1px 2px #000000;
  position: relative;
  bottom: 1px;
}
.centr {
  display: flex;
  align-items: center;
  align-content: center;
}
/*Begin*/
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  user-select: none;
}
.wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background-color: #0d192c;
  color: #ffffff;
  /*Paginator*/
}
.wrapper button {
  width: 18rem;
  height: 4rem;
  position: relative;
  font-family: "ArialBold", Arial;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.018rem;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(2, 22, 5, 0.81);
  color: #ffffff;
  background: linear-gradient(0deg, #1f5809 0%, #28700c 49%, #338e0f 50%, #28720c 100%);
  border: 1px solid #3faf13;
  border-radius: 4px;
  box-shadow: 0 0 0 2px #020210, 0 0 0 4px #162951, 0 0 0 5px #020210, 0 0 0 6px #152855;
  cursor: pointer;
}
.wrapper button::before {
  content: "РЕГИСТРАЦИЯ";
  line-height: 1.9;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #deff00 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #1f5809 0%, #28700c 49%, #338e0f 50%, #28720c 100%);
  opacity: 0;
  transition: all 1s;
  animation: bttn 1s ease infinite;
}
.wrapper button:hover::before {
  padding-bottom: 2px;
  opacity: 1;
  transition: opacity 1s;
}
.wrapper button::after {
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, #2d7d0d 0%, #aeff34 50%, #aeff34 50%, #2d7d0d 100%);
  position: absolute;
  bottom: -1px;
  left: 0;
}
.wrapper .pagination {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.wrapper .pagination .paginator {
  display: flex;
  width: 142px;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #414e63;
  background-image: repeating-linear-gradient(-45deg, rgba(65, 78, 99, 0.8) 0px, rgba(65, 78, 99, 0.8) 13px, rgba(61, 69, 92, 0.8) 13px, rgba(61, 69, 92, 0.8) 26px), linear-gradient(0deg, rgba(0, 0, 0, 0.62) 0%, rgba(255, 255, 255, 0.62) 100%);
  box-shadow: 0px 2px 0px 0px rgba(31, 63, 63, 0.5);
  border-radius: 15px;
  margin-bottom: 20px;
}
.wrapper .pagination .paginator .elipse {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid #000000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 2px 0px 0px rgba(31, 63, 63, 0.5);
  cursor: pointer;
  background-image: linear-gradient(180deg, #000000 0%, transparent 100%);
  box-shadow: inset 0px 0px 1px 1px #203b69;
}
.wrapper .pagination .paginator .elipse .simvol {
  font-family: "Helvetica-Bold", Helvetica;
  font-size: 1.8rem;
  text-decoration: none;
  text-shadow: 0px 1px 2px #000000;
  position: relative;
  bottom: 1px;
  color: #446b8f;
}
.wrapper .pagination .paginator .elipse .simvol::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2d354e, #446b8f);
  mix-blend-mode: darken;
}
.wrapper .pagination .paginator .elipse:active {
  transform: scale(1);
  /* здесь просится 0.9*/
}
.wrapper .pagination .paginator .active {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid #000000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 2px 0px 0px rgba(31, 63, 63, 0.5);
  cursor: pointer;
  background: #7bb71d;
  box-shadow: inset 0 0 1px 1px #c0ff00;
  background-image: linear-gradient(#3a580f, #629319);
  color: #ffffff;
}
.wrapper .pagination .paginator .active .simvol {
  font-family: "Helvetica-Bold", Helvetica;
  font-size: 1.8rem;
  text-decoration: none;
  text-shadow: 0px 1px 2px #000000;
  position: relative;
  bottom: 1px;
}
.wrapper .pagination p {
  font-family: "ArialRegular", Arial;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
}
@keyframes bttn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*                 The End                 */
/*            Thanks for watching          */
