

.video {
	width: 100%;
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: white;
}

.video .video-baner {
	display: block;
	text-align: center;
}
.video .video-baner>iframe {
	width: 80%;
	height: 400px;
}
.grey-baner {
	display: block;
	width: 100%;
	background-color: #E8E8E8;
	color: #000;
	padding-top: 45px;
	text-align: center;
	box-sizing: content-box;
}

.grey-baner>h1 {
	margin-bottom: 40px;
	font-size: 42px;
	text-align: center;
}

.grey-baner>p {
	font-size: 24px;
	margin-bottom: 105px;
}

.t-01 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: auto;
	justify-content: center;
	align-self: center;
	/*max-width: 1200px;*/
	width: 100%;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 40px
}

.grey-baner .t-01 .cell .text h4 {
    margin-top: 0px;
    margin-bottom: 0px;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 18px;
}

.grey-baner .t-01 .cell .text p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.55;
	font-weight: 300;
}

.cell-circle {
	display: table-cell;
}

.circle {
	display: block;
	vertical-align: top;
	min-width: 60px;
	height: 60px;
	color: #fff;
	background-color: #fa0064;
	border-radius: 50%;
	text-align: center;
    font-size: 20px;
    line-height: 60px;
    overflow: hidden;
    white-space: nowrap;
}

.text {
	display: table-cell;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	vertical-align: top;
	text-align: left;
}

.cell {
	display: table;
	float: left;
	text-align: left;
	max-width: 360px;
	width: 100%;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 36px;
}

.rasporka::after {
	display: table;
    content: " ";
    clear: both;
}

.block-transparent {
	width: 100%;
	height: 500px;
	padding-top: 50px;
	background-image: url("../img/IMG_0745.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	z-index: -99;
	position: relative;
}

.giftin {
	padding-top: 45px;
	padding-bottom: 35px;
	display: block;
	color: #000;
	background-color: #fff;
	width: 100%;
	text-align: center;
}

.giftin h1{
	font-size: 42px;
	padding-bottom: 105px;
}

.giftin .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: center;
	/*max-width: 1200px;*/
	text-align: center;
	margin: 0 auto;

}

.giftin .container .cells {
	display: inline;
	float: left;
	max-width: 360px;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

.giftin .container .cells .cells-circle {
	display: block;
	position: relative;
	text-align: center;
}

.giftin .container .cells .cells-circle .ccircle {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-color: #fa0064;
	text-align: center;
    margin: 0 auto;
}

.giftin .container .cells .cells-circle .ccircle span{
	position: absolute;
	top: 50%;
    left: 0;
    right: 0;
    font-size: 26px;
    line-height: 1.23;
    color: #fff;
    transform: translateY(-50%);
}

.giftin .container .cells .txt {
	display: block;
	margin-top: 20px;
	font-size: 24px;
    line-height: 1.35;
    text-align: center;
}

.pinklable {
	display: block;
	position: relative;
	width: 100%;
	background-color: #ffd6d9;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.pinklable h1 {
	/*max-width: 1200px;*/
	width: 100%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #000;
}

.pinklable .row-top,
.pinklable .row-bottom {
	display: flex;
	margin: 0 auto;
	width: 140px;
	height: 1px;
	background-color: #000;
	justify-content: baseline;
}

.wrap {
	width: 100%;
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #000;
}

.wrap .btn {
	background-color: #fa0064;
	text-align: center;
	vertical-align: middle;
	border-radius: 7px;
	width: 135px;
	height: 45px;
	transition: background-color 0.2s ease-in-out;
}

.wrap .btn a {
	display: inline-block;
	padding-top: 10px;
	height: 45px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #fff;
}

.wrap .btn:hover {
	background-color: #FF5429;
	transition: background-color 0.2s ease-in-out;
}

.sliderblock {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #000;
	margin: 20px auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

/*меняем width & height */
.img-min {
	width: 60px;
}
.img-big {
	width: 600px;
	height: 840px;
}
.sliderb {
	max-width: 600px;
	min-width: 480px;
	/*width: 600px;*/
	height: 840px;
	margin-right: 20px;
	margin-bottom: 40px;
	overflow: hidden;
	position: relative;
    text-align: center;
}

.sliderb > input {
	display: none;
}

.sliderb > input + label {
	display: inline-block;
	height: 60px;
	text-align: center;
	cursor: pointer;
	z-index: 90;
    position: relative;
    margin-right: 4px;
    top: 90%;
    border: 2px solid transparent;
    transition: border 0.8s ease-out 0s;
    overflow: hidden;
}

.sliderb > input + label:hover {
    filter: brightness(110%);
}

.sliderb > input:checked + label {
    border: 2px solid #000;
}

.sliderb > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.sliderb > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}
.sliderb > input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.sliderb > input + label + div + label {
    display: none;
}

.sliderb > input:checked + label + div + label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 50;
}

.text-block {
	max-width: 550px;
	min-width: 275px;
	/*margin: 20px;*/
}

.orderform {
	display: block;
	text-align: center;
	background-color: #e8e8e8;
	padding-top: 90px;
	padding-bottom: 150px;
	padding-left: 19%;
	padding-right: 19%;
}
.wraper-orderform {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: #000;
	margin: 0 auto;
}
.wraper-orderform form label {
	text-align: left;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
	margin-top: 30px;
	margin-bottom: 10px;
}

.feedback {
	display: block;
	background-color: #fff;
	padding-top: 135px;
	padding-bottom: 120px;
}

.sliderA {
    width: 80%;
    height: 446px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.sliderA > input {
    display: none;
}
.sliderA > div > img {
	width: 80%;
}
.sliderA > input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgba(90, 90, 90, 0.8);
    border: 2px solid rgba(190, 190, 190, 0.8);
    cursor: pointer;
    z-index: 90;
    position: relative;
    margin-right: 4px;
    top: 72%;
    transition: background 0.8s ease-out 0s;
}
.sliderA > input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}
.sliderA > input:checked + label {
    background: rgba(220, 220, 220, 0.8);
}

.sliderA > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.sliderA > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}
.sliderA > input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.sliderA > input + label + div + label {
    display: none;
}
.sliderA > input:checked + label + div + label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 50;
}

.inputform {
	background-color: #e8e8e8;
	color: #000;
	border: 1px solid #000;
	border-radius: 7px;
	height: 60px;
	padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}
.inputform:focus {
	border: 1px solid #FF5429;
	box-shadow: 0 1px 5px 0 #ff5429;
}
textarea[class=inputform] {
	height: 102px;
  padding-top: 15px;
}
.wraper-orderform form input[type=submit] {
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	width: 204px;
	height: 61px;
	background-color: #fa0064;
	transition: all 0.2s ease-in-out;
	border-radius: 7px;
  cursor: pointer;
	display: block;
	text-decoration: none;
	font-size: 20px;
	text-decoration: none;

}
.wraper-orderform form input[type=submit]:hover {
	background-color: #000;
  color: #fff;
	transition: all 0.5s ease-in-out;
}

.greeting {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	background-color: #fff;
	padding-top: 105px;
	padding-bottom: 105px;
}

.greeting p{
	display: flex;
	align-self: center;
	width: 210px;
	height: 144px;
	margin-left: 40px;
	font-size: 16px;
	color: #000;
}

.block-transparent>.contact {
	display: flex;
	flex-direction: column;
	width: 80%;
	min-height: 400px;
	background-color: #fff;
	color: #000;
	text-align: center;
	/*position: fixed;
	left: 10%;
	top: 25%;
	z-index: -98;*/
  margin: 0 auto;
}
.block-transparent>.contact a {
	display: flex;
	margin-bottom: 50px;
	align-self: center;
	text-align: center;
	color: #000;
}

.block-transparent>.contact a:hover {
	color: #FF5429;
}

.block-transparent>.contact>.social {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.block-transparent>.contact>.social>.facebook,
.block-transparent>.contact>.social>.instagram {
	width: 30px;
	height: 30px;
}

footer {
	display: block;
	background-color: transparent;
	/*background: url('../img/footer.png');*/
	width: 100%;
	height: 240px;
	padding-top: 25px;
	padding-bottom: 25px;
	/*background-color: #000;*/
	text-align: center;
	color: #fff;
}
/*Медиа начало*/

@media screen and (max-width: 1090px) {
  header {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .main-menu {
    display: none;
  }
  .main-menu li {
    width: 100%;
    display: block;
    font-size: 25px;
  }
  .main-menu a {
    display: block;
    padding: 8px;
  }
  .toggle-button {
    text-align: center;
    display: block;
    cursor: pointer;
  }
  .toggle-button:before{
    content: attr(data-open);
    display: block;
  }
  #menu-checkbox:checked + nav[role="navigation"] .main-menu {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }
  #menu-checkbox:checked + nav[role="navigation"] .toggle-button:before {
    content: attr(data-close);
    position: relative;
    top: 90px;
  }
  .main-menu {
    position: relative;
    top: 120px;

  }
  .main-menu li a{
    padding: 2px;
  }

	.menu a{
		font-size: 30px;
	}
	.contact {
		display: none;
	}

	.sliderblock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-self: center;
		margin: 0 auto;
	}
	.sliderb {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-self: center;
		margin: 0 auto;
	}
	.text-block {
		display: flex;
		justify-content: center;
		align-content: center;
		align-self: center;
		flex-direction: column;
		margin: 0 auto 40px;
	}
}
@media screen and (max-width: 600px) {
  .baner h1 {
    font-size: 45px;
  }
  .greeting {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .greeting img {
    margin: 0 auto;
  }
  .greeting p {
    margin: 0;
  }
  .img-min {
  width: 48px;
  }
  .img-big {
    width: 480px;
    height: 672px;
  }
  .text-block {
    padding-left: 20px;
  }
}
/*Медиа конец*/
