/* Colors*/
/*Basic setting*/
html {
  font-size: 10px;
}
/*Navigation*/
body {
  background-color: #fff;
}
.navbar .container {
  position: relative;
  width: 1024px;
  padding: 24px 34px 14px;
}
.navbar-brand {
  margin-left: 15px !important;
  padding: 0;
}
.navbar h1 {
  font-family: 'SegoeWP';
  font-size: 4.235rem;
  font-weight: 300;
  color: #000;
}
.navbar .collapse {
  margin-left: 50%;
}
.navbar-nav {
  font-family: 'SegoeWPN-Regular';
  font-size: 2.035rem;
  font-weight: 400;
  color: #6c6c6c !important;
}
/*Navigation end*/
/*Baner*/
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.carousel .f {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: 'SegoeWP';
}
.carousel .f .r h5 {
  font-size: 4.235rem;
  font-weight: 300;
  line-height: 1.049;
  text-align: left;
}
.carousel .f .r p {
  font-size: 2.635rem;
  font-weight: 300;
  line-height: 1.686;
  text-align: left;
}
.carousel .f .r button {
  margin-top: 34px;
  margin-left: 12px;
  float: left;
  display: inline-block;
  font-family: SegoeWP;
  font-size: 2.235rem;
  font-weight: 300;
  padding: 9px 11px;
  background-color: #4f95f2;
  border: none;
  cursor: pointer;
}
.carousel .f .r button img {
  margin-right: 11px;
}
.carousel-control-prev-icon {
  background: url(../img/left.png);
  height: 60px;
}
.carousel-control-next-icon {
  background: url(../img/right.png);
  width: 25px;
  height: 60px;
}
/*Baner end*/
/*Contrary section*/
.contrary {
  margin-top: 63px;
  font-family: 'SegoeWPN-Regular';
}
.contrary .row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 58px;
}
.contrary .col-4 {
  max-width: 250px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.contrary h6 {
  color: #5094f2;
  font-size: 2.035rem;
  font-weight: 400;
  line-height: 2.183;
  text-align: center;
}
.contrary p {
  color: #909090;
  font-size: 1.435rem;
  font-weight: 400;
  text-align: center;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 13px;
}
.circle {
  border-radius: 100%;
  width: 186px;
  height: 186px;
  position: relative;
}
.pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
/*Contrary section end*/
/*Cart begin*/
.cart {
  padding-bottom: 50px;
}
.cart h4 {
  font-family: 'SegoeWPN-Regular';
  font-size: 4.235rem;
  font-weight: 400;
  color: #6f7173;
  margin-bottom: 33px;
  text-align: center;
}
.cart .p {
  padding-left: 42px;
}
.cart h6 {
  font-family: 'SegoeWPN-Regular';
  font-size: 2.635rem;
  font-weight: 400;
  color: #6f7173;
  margin-bottom: 34px;
}
.cart p {
  font-family: 'SegoeWPN-Light';
  font-size: 1.535rem;
  font-weight: 300;
  color: #909090;
}
/*Cart end*/
/*Footer*/
footer {
  height: 94px;
  border-top: 1px solid #e5e5e5;
}
footer span {
  font-family: 'SegoeWPN-Light';
  font-size: 1.535rem;
  font-weight: 300;
  color: #909090;
  line-height: 94px;
}
/*Footer*/
