body {
 background: url('https://cdn1.vectorstock.com/i/thumbs/79/80/abstract-smooth-light-lines-background-vector-897980.jpg') center no-repeat;
 background-size: cover;
 font-family:Comic Sans MS;
 font-weight: bold;
 text-shadow: 0px 0px 25px #000000;
}
.wrapper {
 display: flex;
 flex-direction: column;
 justify-content: center;
 -ms-align-items: center;
 align-items: center;
 color: #fff;
 letter-spacing: 1px;
}
#birthday {
 margin: 10px;
 padding: 5px;
}
button {
 margin : 10px;
 padding: 10px 25px;
 background-color: #61D8FD;
 box-shadow: inset 0px 0px 20px -2px rgba(0,0,0,0.75);
 border-radius: 15px;
 border:1px solid #83c41a;
 cursor: pointer;
 outline: 0 !important;
}
