body {
 background: url('https://source.unsplash.com/random?fuzz') center no-repeat;
 background-size: cover;
 font-family: 'Play', sans-serif;
 font-weight: bold;
 text-shadow: 0px 0px 25px #000000;
 display: flex;
 justify-content: center;
}
.wrapper {
 display: flex;
 flex-direction: column;
 justify-content: center;
 -ms-align-items: center;
 align-items: center;
 margin-top: 10%;
 padding: 30px;
 color: #fff;
 text-shadow: 0 0 10px #d6d6d6, 
              0 0 20px #ece7e7, 
              0 0 30px #e0dede, 
              0 0 40px #0d92f7, 
              0 0 70px #0bb6f9, 
              0 0 80px #0699ef, 
              0 0 100px #0f86ea, 
              0 0 150px #0e87f5;
 border-radius: 10px;
 border: 1px solid rgb(75, 69, 69);
 letter-spacing: 1px;
 width: 50%;
 background-color: rgba(0,0,0,0.75);
}
#birthday {
 margin: 10px;
 padding: 5px;
 border: none;
 border-radius: 4px;
 background-color: #fff;
}
button {
 margin : 20px;
 padding: 10px 45px;
 background-color: #fff;
 color: #000;
 box-shadow: 0 0 5px #d6d6d6, 
             0 0 15px #ece7e7, 
             0 0 20px #e0dede, 
             0 0 25px #0d92f7, 
             0 0 30px #0bb6f9, 
             0 0 40px #0699ef, 
             0 0 50px #0f86ea, 
             0 0 60px #0e87f5;
 font-size: 2rem;
 border-radius: 4px;
 border:1px solid #83c41a;
 font-weight: 700;
 cursor: pointer;
 outline: 0 !important;
 transition: all .3s ease;
}
button:active {
  transform: translateY(2px);
  transition: all .3s ease;
}
